go 1.20

use (
	.
	./pf
	./pf/tests
	./pf/tests/internal/randomshim
	./pf/tests/internal/tlsshim
	./pf/tests/testdatagen/genrandom
	./pkg/tests
	./testing
	./x/muxer
	./x/muxer/tests
)

replace github.com/hashicorp/terraform-plugin-sdk/v2 => github.com/pulumi/terraform-plugin-sdk/v2 v2.0.0-20221122203342-430f685de305
