name: Pull Request & Downstream Testing
on: [pull_request]

jobs:
  build:
    name: Build and Test Bridge
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out source code
        uses: actions/checkout@master
      - name: Download module dependencies
        env:
          GOPROXY: "https://proxy.golang.org"
        run: go mod download
      - name: Build
        run: go build ./...
      - name: Test
        run: go test -v ./...

  downstream-aws:
    name: Test AWS Downstream
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6.10
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Install tf2pulumi
        uses: pulumi/action-install-tf2pulumi@releases/v1
        with:
          tf2pulumi-version: 0.6.0

      - name: Check out source code
        uses: actions/checkout@master
      - name: Test Downstream
        uses: pulumi/action-test-provider-downstream@releases/v1
        env:
          GOPROXY: "https://proxy.golang.org"
        with:
          downstream-name: pulumi-aws
          downstream-url: https://github.com/pulumi/pulumi-aws
          pulumi-bot-token: ${{ secrets.PULUMI_BOT_TOKEN }}
          github-actions-token: ${{ secrets.GITHUB_TOKEN }}
          use-provider-dir: true

  downstream-azure:
    name: Test Azure Downstream
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6.10
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Install tf2pulumi
        uses: pulumi/action-install-tf2pulumi@releases/v1
        with:
          tf2pulumi-version: 0.6.0

      - name: Check out source code
        uses: actions/checkout@master
      - name: Test Downstream
        uses: pulumi/action-test-provider-downstream@releases/v1
        env:
          GOPROXY: "https://proxy.golang.org"
        with:
          downstream-name: pulumi-azure
          downstream-url: https://github.com/pulumi/pulumi-azure
          pulumi-bot-token: ${{ secrets.PULUMI_BOT_TOKEN }}
          github-actions-token: ${{ secrets.GITHUB_TOKEN }}
          use-provider-dir: true

  downstream-gcp:
    name: Test GCP Downstream
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6.10
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Install tf2pulumi
        uses: pulumi/action-install-tf2pulumi@releases/v1
        with:
          tf2pulumi-version: 0.6.0

      - name: Check out source code
        uses: actions/checkout@master
      - name: Test Downstream
        uses: pulumi/action-test-provider-downstream@releases/v1
        env:
          GOPROXY: "https://proxy.golang.org"
        with:
          downstream-name: pulumi-gcp
          downstream-url: https://github.com/pulumi/pulumi-gcp
          pulumi-bot-token: ${{ secrets.PULUMI_BOT_TOKEN }}
          github-actions-token: ${{ secrets.GITHUB_TOKEN }}
          use-provider-dir: true

  downstream-vault:
    name: Test Vault Downstream
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6.10
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Install tf2pulumi
        uses: pulumi/action-install-tf2pulumi@releases/v1
        with:
          tf2pulumi-version: 0.6.0

      - name: Check out source code
        uses: actions/checkout@master
      - name: Test Downstream
        uses: pulumi/action-test-provider-downstream@releases/v2
        env:
          GOPROXY: "https://proxy.golang.org"
        with:
          downstream-name: pulumi-vault
          downstream-url: https://github.com/pulumi/pulumi-vault
          use-provider-dir: true
          pulumi-bot-token: ${{ secrets.PULUMI_BOT_TOKEN }}
          github-actions-token: ${{ secrets.GITHUB_TOKEN }}
