env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}

name: Pull Request

on: [pull_request]

jobs:
  build:
    name: Test and Lint
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
  clean-files:
    name: Ensure test assets build cleanly
    runs-on: ubuntu-latest
    steps:
      - name: Install pulumi
        uses: pulumi/actions@v5
        with:
          pulumi-version: dev
      - name: Check out source code
        uses: actions/checkout@master
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
          cache-dependency-path: |
            **/go.sum
      - run: make -C pf build.testproviders
      - name: Ensure Clean Repo
        run: git diff-files --quiet
      - name: Show Dirty Repo File Changes
        if: failure()
        run: git diff-files --patch
