permissions: write-all # Equivalent to default permissions plus id-token: write
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

name: Pull Request

on: [pull_request]

jobs:
  build:
    name: Test and Lint
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
  clean-files:
    name: Ensure test assets build cleanly
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@master
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x
          cache-dependency-path: |
            **/go.sum
      - name: Find pulumi version
        id: pulumi_version
        shell: bash
        run: |
          GO_MODULE_VERSION=$(go list -m -f '{{.Version}}' github.com/pulumi/pulumi/pkg/v3)
          GO_VERSION=$(echo "$GO_MODULE_VERSION" | sed 's/^v//')
          echo "pulumi_version=$GO_VERSION"
          echo "pulumi_version=$GO_VERSION" >> $GITHUB_OUTPUT
      - name: Install pulumi
        uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6
        with:
          pulumi-version: ${{ steps.pulumi_version.outputs.pulumi_version }}
      - run: make -C pkg/pf build.testproviders
      - name: Ensure Clean Repo
        run: git diff-files --quiet
      - name: Show Dirty Repo File Changes
        if: failure()
        run: git diff-files --patch
