name: Master and Tag Builds
on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - '.github/workflows/update-providers.yml'
      - 'README.md'

jobs:
  build:
    name: Build and Test Bridge
    strategy:
      matrix:
        go-version: [1.15.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out source code
        uses: actions/checkout@master
      - name: Download module dependencies
        env:
          GOPROXY: "https://proxy.golang.org"
        run: go mod download
      - name: Build
        run: make build
      - name: Test
        run: make test_all
