name: Master and Tag Builds
env:
  GOLANGCI_LINT_VERSION: v1.50.1
on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - '.github/workflows/update-providers.yml'
      - 'README.md'

jobs:
  build:
    name: Build and Test Bridge
    strategy:
      matrix:
        go-version: [1.19.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out source code
        uses: actions/checkout@master
      - name: Download module dependencies
        env:
          GOPROXY: "https://proxy.golang.org"
        run: go mod download
      - name: Build
        run: make build
      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b "$(go env GOPATH)/bin" "${GOLANGCI_LINT_VERSION}"
      - name: Lint
        run: make lint
      - name: Test
        run: make test
      - name: Test experimental
        env:
          PULUMI_EXPERIMENTAL: "1"
        run: make test
