name: Test the bridge by previewing provider bridge upgrades

on:

  # These checks can be triggerred manually from the Actions tab, which already lets you specify
  # which branch of the bridge to use for testing.
  workflow_dispatch:
    inputs: {}

  # # Alternatively, they can be triggered by opening a feature-* branch. Not having these enabled on
  # # normal branches and PRs is intentional as the checks consume a lot of resources.
  # push:
  #   branches:
  #   - feature-**
  #   paths-ignore:
  #   - CHANGELOG.md
  #   tags-ignore:
  #   - "*"
  #   - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test upgrading ${{ matrix.provider }} to pulumi-terraform-bridge ${{ github.sha }}
    steps:
      - name: Trigger upgrade
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
          repository: pulumi/${{ matrix.provider }}
          event-type: upgrade-bridge
          client-payload: |-
            {
               "target-bridge-version": ${{ toJSON(github.sha) }},
               "pr-reviewers": ${{ toJSON( github.triggering_actor || 't0yv0' ) }},
               "pr-description": "This PR was created to test a pulumi/pulumi-terraform-bridge feature.\n\n- pulumi/pulumi-terraform-bridge#${{ github.event.number }}\n\n- https://github.com/pulumi/pulumi-terraform-bridge/commit/${{github.sha}}\n\nDO NOT MERGE.",
               "automerge": false
            }
    strategy:
      fail-fast: false
      matrix:
        provider:
          - pulumi-aiven
          - pulumi-auth0
          - pulumi-aws
          - pulumi-azure
          - pulumi-azuread
          - pulumi-cloudflare
          - pulumi-datadog
          - pulumi-digitalocean
          - pulumi-docker
          - pulumi-fastly
          - pulumi-gcp
          - pulumi-github
          - pulumi-hcloud
          - pulumi-okta
          - pulumi-random
          - pulumi-tls
