name: Update Providers with new bridge version upon release
on:
  push:
    tags:
      # Typically pf* module is tagged after the main module, so this is a good time to fire off
      # automatic downstream upgrades.
      - 'pf/**'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  generate-providers-list:
    runs-on: ubuntu-latest
    steps:
      - id: get-providers
        run: echo "providers=$(jq . <(curl https://raw.githubusercontent.com/pulumi/ci-mgmt/master/provider-ci/providers.json) --compact-output)" >> "$GITHUB_OUTPUT"
    outputs:
      providers: ${{ steps.get-providers.outputs.providers }}

  build:
    runs-on: ubuntu-latest
    name: Upgrade to pulumi-terraform-bridge to the latest version automatically
    steps:
      - name: Trigger upgrade
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
          repository: pulumi/pulumi-hcloud
          event-type: upgrade-bridge
          # Not specifying target-bridge-version in the payload will make it upgrade to the latest.
          client-payload: |-
            {
               "pr-reviewers": ${{ toJSON( github.triggering_actor || 't0yv0' ) }},
               "automerge": true
            }
    needs: generate-providers-list
    strategy:
      # GitHub recommends only issuing 1 API request per second, and never
      # concurrently.  For more information, see:
      # https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits
      max-parallel: 1
      # matrix:
      #   provider: ${{ fromJson(needs.generate-providers-list.outputs.providers ) }}
      fail-fast: false
